body {
    margin: 0;
}

.background-container {
    width: 100%;
    height: 100vh;
    background: url('/static/single_pages/images/cyberpunk.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: absolute;
    opacity: 0.4; 
    z-index: -1;
}